<ion-view view-title="Add Offer">
  <ion-header-bar>
    <h1 class="title">Add Offer</h1>
  </ion-header-bar>
  <ion-content delegate-handle="mainScroll">
    <p class="padding-left">
    	{{message}}
    </p>
    <div ng-show="state===0">

        <div ng-show="search.state===0">
        	<h3 class="padding-left">
        		Search for your book
        	</h3>
			<div class="item item-input-inset" style="border: 0px;">	
				<label class="item-input-wrapper">
					<input type="text" placeholder="name, isbn, author..." ng-model="search.query"/>
				</label>
				<button class="button button-small" ng-click="searchCamera()">
					<i class="icon ion-camera"></i>
				</button>
				<button class="button button-small" ng-click="search.perform(search.query)">
					<i class="icon ion-search"></i>
				</button>
			</div>
			<span class="padding-left">
				{{search.message}}
			</span>
		</div>
		<div ng-show="search.state===1">
			<span class="item item-card">
				<i class="">Loading...</i>
			</span>
		</div>
		<div ng-show="search.state===2">
			<span class="padding-left">
				{{search.message}}
			</span>
			<div class="list card" ng-show="search.results.length > 0">
				<div class="item item-text-wrap item-thumbnail-left item-icon-right" ng-repeat="(idx, res) in search.results" ng-click="search.pick(idx)">
					<img ng-show="res.thumb!=='nothumb'" src="{{res.thumb}}"/>
					<h2>
						{{ res.author }}
					</h2>
					<p>
						{{ res.title }}
					</p>
					<i class="icon ion-ios-arrow-right"></i>
				</div>
				<button class="item item-divider button-full" ng-click="moreGoogle()" ng-if="search.idx+10 <= search.total">More</button>
				<button class="item item-divider button-full" ng-click="cancelGoogle()">Cancel</button>
			</div>
			
		</div>

		<h3 class="padding-left">
			or type all the info by hand
		</h3>
	    <form ng-submit="create()" name="form">
	      <div class="list">
	        <label class="item item-input item-stacked-label">
	        	<span class="input-label">ISBN</span>
	        	<input type="text" ng-model="offerData.isbn" required>
	        </label>
	        <label class="item item-input item-stacked-label">
	          <span class="input-label">Title</span>
	          <input type="text" ng-model="offerData.title" required>
	        </label>
	        <label class="item item-input item-stacked-label">
	          <span class="input-label">Author</span>
	          <input type="text" ng-model="offerData.author" required>
	        </label>
	        <label class="item" style="border-bottom: 0px;">
	          <button class="button button-block button-positive" type="submit">Submit</button>
	        </label>
	      </div>
	    </form>
	</div>
    <div ng-show="state===1">
      <p class="padding-left">
        Adding offer...
      </p>
    </div>
    <div ng-show="state===2">
      <p class="padding-left">
        Added!
      </p>
    </div>
  </ion-content>
</ion-view>