<ion-view view-title="Edit Offer">
  <ion-header-bar>
    <h1 class="title">Edit Offer</h1>
  </ion-header-bar>
  <ion-content>
    <div ng-show="offer.loadingState===0">
      <p>
        Loading offer...
      </p>
    </div>
    <div ng-show="offer.loadingState===1">
      <div ng-show="offer.savingState===0">
        <p>
          {{ offer.savingMessage }}
        </p>
        <form ng-submit="offer.save()">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Title</span>
              <input type="text" ng-model="offer.data.title">
            </label>
            <label class="item item-input">
              <span class="input-label">Author</span>
              <input type="text" ng-model="offer.data.author">
            </label>
            <label class="item item-input">
              <span class="input-label">ISBN</span>
              <input type="text" ng-model="offer.data.isbn">
            </label>
            <button class="button button-block button-positive" type="submit">Save</button>
          </div>
        </form>
      </div>
      <div ng-show="offer.savingState===1">
        <p>
          Saving...
        </p>
      </div>
    </div>
    <div ng-show="offer.loadingState===2">
      <p>
        {{ offer.loadingMessage }}
      </p>
    </div>
  </ion-content>
</ion-view>
