<ion-view view-title="Log in">
  <ion-header-bar>
    <h1 class="title">Log in</h1>
<!--     <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div> -->
  </ion-header-bar>
  <ion-content>
    <p>{{message}}</p>
    <div ng-show="state===0">
      <form ng-submit="doLogin()">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="loginData.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password">
          </label>

            <button class="button button-block button-positive" type="submit">Log in</button>

            <button class="button button-block button-positive" ng-click="signup()" type="button">Sign up</button>

        </div>
      </form>
    </div>
    <div ng-show="state===1">
      <p>
        Loading...
      </p>
    </div>
    <div ng-show="state===2">
      <p>
        Authenticated, forwarding you now.
      </p>
    </div>
  </ion-content>
</ion-view>
