<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">BookApp</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <div>
          <ion-item menu-close href="#/app/search">
            Search
          </ion-item>
          <ion-item menu-close href="#/app/offer/add">
            Add Offer
          </ion-item>
          <ion-item menu-close href="#/app/offer/your">
            Your Offers
          </ion-item>
          <ion-item menu-close href="#/app/transactions/unfinished">
            Transactions
          </ion-item>
          <ion-item menu-close href="#/app/settings">
            Settings
          </ion-item>
          <ion-item menu-close ng-click="showConfirmLogout()">
            Log out
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
