<ion-view view-title="Offer">
    <ion-nav-buttons side="right">
        <a class="button" ng-if="offer.by._id===curUser" href="#/app/offer/edit/{{offer._id}}">
            Edit
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div ng-show="state===0">
        	<p>
        		Loading offer...
        	</p>
        </div>
        <div ng-show="state===1">

            <div class="list card">
            	<div class="item item-text-wrap">
                    <h2>{{offer.author}}</h2>
                    <p>{{offer.title}}</p>
                </div>
                <div ng-show="{{offer.thumb!=='nothumb'}}">
                    <div class="item item-image">
                        <img src="{{offer.thumb}}">
                    </div>
                </div>
                <div class="item item-avatar">
                    <img src="{{img.noavatar}}"/>
                    <div ng-show="offer.by._id!==curUser">
                        <h2>{{offer.by.name}}</h2>
                        <p><b>{{offer.by.username}}</b>, karma: <b>{{offer.by.karma}}/{{offer.by.transaction_c}}</b></p>
                        <p am-time-ago="{{offer.when}}"></p>
                        <p><i class="icon ion-ios-telephone padding-right"></i><a href="tel:{{offer.by.phone}}">{{offer.by.phone}}</a></p>
                    </div>
                    <div ng-show="offer.by._id===curUser">
                        <h2>You!</h2>
                        <p>Posted by you <b>{{moment(offer.when, "YYYYMMDD").fromNow()}}</b>.</p>
                        <p>You can be contacted through <a href="tel:{{offer.by.phone}}">{{offer.by.phone}}</a>.</p>
                    </div>
                </div>
            
                <div class="button-bar">
                    <button class="item item-divider button-full" ng-show="offer.by._id===curUser && offer.state===0" ng-click="transaction(1, {{offer}})">Lend</button>
                    <button class="item item-divider button-full" ng-show="offer.by._id===curUser && offer.state===0" ng-click="transaction(2, {{offer}})">Donate</button>
                </div>
                <div class="item item-divider" ng-show="offer.by._id===curUser && offer.state!==0">
                    <p>Currently: <b>{{offer.state===1?"Borrowed":"Donated"}}</b></p>
                </div>
                <div class="item item-divider" ng-show="offer.by._id!==curUser && offer.state===0">
                    <p>Currently: <b>Available</b>.</p>
                </div>
                <div class="item item-divider" ng-show="offer.by._id!==curUser && offer.state!==0">
                    <p>Currently: <b>{{offer.state===1?"Borrowed":"Donated"}}</b></p>
                </div>

            </div>
        </div>
        <div ng-show="state===2">
        	<p>
        		Error loading offer, {{message}}
        	</p>
        </div>
    </ion-content>
</ion-view>