<ion-view view-title="Search Offers">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="loadOffers()">
		</ion-refresher>
		<ion-list>
			<div ng-show="offers.state===0">
				<ion-item>
					<h2>Loading offers...</h2>
				</ion-item>
			</div>
			<div ng-show="offers.state===1">
				<div id="searchBar">
					<div class="item item-toggle">
						Show currently unavailable
						<label class="toggle toggle-assertive">
							<input type="checkbox" ng-model="search.showUnavailable">
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</div>
					<div class="bar bar-header item-input-inset">
						<label class="item-input-wrapper">
							<i class="icon ion-ios-search placeholder-icon"></i>
							<input type="search" placeholder="Search" ng-model="search.query" ng-model-options="{debounce: 2000}">
						</label>
						<button class="button button-clear" ng-click="search.cancel()">
							Cancel
						</button>
					</div>
				</div>
				<div delegate-handle="mainScroll">
					<ion-item ng-show="offers.searchState===1">
						<h3>
							Searching...
						</h3>
					</ion-item>
					<div class="item item-thumbnail-left item-icon-right" ng-show="search.showUnavailable?(offer.state===0?1:1):(offer.state!==0?0:1)" ng-repeat="offer in offers.data track by $index" ui-sref="app.offer({id:'{{offer._id}}'})">
						<img ng-show="{{offer.thumb!=='nothumb'}}" src="{{offer.thumb}}"/>
						<h2>{{offer.author}}</h2>
						<p>{{offer.title}}</p>
						<h3><i class="ion-person padding-right"></i><b>{{offer.by.username}}</b></h3>
						<div ng-show="search.showUnavailable">
							<p><b>{{offer.state===0?"Available":(offer.state===1?"Borrowed":"Donated")}}</b></p>
						</div>
						<i class="icon ion-ios-arrow-right"></i>
					</div>
				</div>
				<ion-item ng-show="offers.data.length===0">
					<h3>
						No offers to display.
					</h3>
				</ion-item>
			</div>
			<div ng-show="offers.state===2">
				<ion-item>
					<h2>Error loading offers. {{offers.error}}</h2>
				</ion-item>
			</div>
		</ion-list>
		<ion-infinite-scroll ng-if="canLoadMore()" on-infinite="loadMore()" distance="1%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>