<ion-view view-title="Settings">
  <ion-header-bar>
    <h1 class="title">Settings</h1>
<!--     <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div> -->
  </ion-header-bar>
  <ion-content>
    <div ng-show="settings.loadingState===0">
      <p>
        Loading settings...
      </p>
    </div>
    <div ng-show="settings.loadingState===1">
      <div class="card">
        <div class="item item-card">
          <div class="row">
            <div class="col col-75">Your total karma</div>
            <div class="col setting-item">{{settings.data.karma}}</div>
          </div>
        </div>
        <div class="item item-card">
          <div class="row">
            <div class="col col-75">Transactions finished</div>
            <div class="col setting-item">{{settings.data.transaction_c}}</div>
          </div>
        </div>
        <div class="item item-card item-divider">
          <div class="row">
            <div class="col col-75">Your Grade</div>
            <div class="col setting-item">{{getGrade()}}</div>
          </div>
        </div>
      </div>
      <div ng-show="settings.savingState===0">
        <p>
          {{ settings.savingMessage }}
        </p>
        <form ng-submit="settings.save()">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text" ng-model="settings.data.name">
            </label>
            <label class="item item-input">
              <span class="input-label">Phone</span>
              <input type="text" ng-model="settings.data.phone">
            </label>
            <button class="button button-block button-positive" type="submit">Save</button>
          </div>
        </form>
      </div>
      <div ng-show="settings.savingState===1">
        <p>
          Saving...
        </p>
      </div>
    </div>
    <div ng-show="settings.loadingState===2">
      <p>
        {{ settings.loadingMessage }}
      </p>
    </div>
  </ion-content>
</ion-view>
