<ion-view view-title="Sign up">
  <ion-header-bar>
    <h1 class="title">Sign up</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-show="unis.state===0">
      <p class="padding-left">
        Loading...
      </p>
    </div>
    <div ng-show="unis.state===1">
      <div ng-show="signup.state===0">
        <form ng-submit="signup.perform()" name="form">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Name</span>
              <input type="text" ng-model="signup.data.name" required>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Username</span>
              <input type="text" ng-model="signup.data.username" required>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Password</span>
              <input type="password" ng-model="signup.data.password" required>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Phone #</span>
              <input type="text" ng-model="signup.data.phone" required>
            </label>
            <div class="list">
              <div class="item item-input item-select ">
                <div class="input-label">
                  University
                </div>
                <select ng-model="signup.data.uni" name="uni_select" required>
                  <option ng-repeat="uni in unis.data | orderBy:'+name'" value="{{uni._id}}">{{uni.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <button class="button button-block button-positive" type="submit" ng-click="signup.perform()">Create account</button>
        </form>
        </div>
      <div ng-show="signup.state===1">
        <p class="padding-left">
          Creating user...
        </p>
      </div>
      <div ng-show="signup.state===2">
        <p class="padding-left">
          {{signup.message}}
        </p>
        <button class="button button-positive" ng-click="signup.tryAgain()">Try Again</button>
      </div>
    </div>
    <div ng-show="unis.state===2">
      <p class="padding-left">
        {{unis.message}}
      </p>
    </div>
  </ion-content>
</ion-view>