<ion-view view-title="Your transactions">
	<ion-tabs class="tabs-striped tabs-bottom tabs-background-stable tabs-color-dark">
		<ion-tab title="Unfinished" ui-sref-active="active" ui-sref="app.transactions.unfinished">
			<ion-nav-view name="transactionsUnfinished"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Finished" ui-sref-active="active" ui-sref="app.transactions.finished">
			<ion-nav-view name="transactionsFinished"></ion-nav-view>
		</ion-tab>
		<ion-tab title="All" ui-sref-active="active" ui-sref="app.transactions.all">	
			<ion-nav-view name="transactionsAll"></ion-nav-view>
		</ion-tab>
	</ion-tabs> 
</ion-view>