<ion-modal-view ng-controller="TransactionModalCtrl">
	<ion-header-bar>
		<h1 class="title">{{params.type===1?'Lend':'Donate'}}</h1>
		<button class="button icon ion-close" ng-click="close()"></button>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<div class="item item-thumbnail-left">
				<img src="{{params.offer.thumb}}"/>
				<h2>{{params.offer.author}}</h2>
				<p>{{params.offer.title}}</p>
			</div>

			<div class="item item-input-inset" ng-show="user.state===0">
				<label class="item-input-wrapper">
					<input type="text" placeholder="username" ng-model="user.term"/>
				</label>
				<button class="button button-small" ng-click="searchUser()">
					<i class="icon ion-search"></i>
				</button>
			</div>
			<div class="item" ng-show="user.state===1">
				<h2>Loading user...</h2>
			</div>
			<div ng-show="user.state===2">
				<div class="item item-avatar item-icon-right" >
					<img src="{{img.noavatar}}"/>
					<h2>{{user.data.name}}</h2>
					<p>{{user.data.phone}}</p>
				    <h3>{{user.data.username + " (" + user.data.karma + "/" + user.data.transaction_c + ")"}}</h3>
					<i class="icon ion-android-cancel" ng-click="cancelUser()"></i>
				</div>
				<div ng-show="transaction.state===0">
					<label class="item" style="border-bottom: 0px;">
						<button class="button button-block button-positive" ng-click="doTransaction()">Confirm Transaction</button>
					</label>
				</div>
				<div ng-show="transaction.state===1">
					<div class="item">
						<h2>Creating Transaction...</h2>
					</div>
				</div>
				<div ng-show="transaction.state===2">
					<label class="item" style="border-bottom: 0px;">
						<button class="button button-block button-balanced">Done!</button>
					</label>
				</div>
				<div ng-show="transaction.state===3">
					<div class="item">
						<h2>Error: {{transaction.message}}</h2>
					</div>
				</div>
			</div>
			<div class="item item-icon-right" ng-show="user.state===3">
				<h2>Error: {{user.message}}</h2>
				<i class="icon ion-android-cancel" ng-click="cancelUser()"></i>
			</div>
		</div>
	</ion-content>
</ion-modal-view>