<ion-view view-title="Your Transactions">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
		</ion-refresher>
		<ion-list>
			<ion-item ng-show="transactions.state===0">
				<p>Loading transactions...</p>
			</ion-item>
			<div ng-show="transactions.state===1">
				<ion-item ng-repeat="t in transactions.data" class="item-thumbnail-left">
					<img ng-show="t.offer.thumb!=='nothumb'" src="{{t.offer.thumb}}"/>
					<h2>{{t.offer.title}}</h2>
					<p>from <b>{{t.from.name}}</b> to <b>{{t.to.name}}</b></p>
					<p>Started {{moment(t.when, "YYYYMMDD").fromNow()}}</p>
					<button class="button button-block button-positive" ng-show="t.from._id===curUser" ng-click="clickFinalize(t._id)">Finish</button>
				</ion-item>
				<ion-item class="item-text-wrap" ng-show="transactions.data.length!==0">
					<p>
						Tip: When you borrow a book, the other user will wait for you to return it to finish the transaction.
					</p>
				</ion-item>
				<ion-item ng-show="transactions.data.length===0">
					<h3>
						There aren't any unfinished transactions to display.
					</h3>
				</ion-item>
			</div>
			<ion-item ng-show="transactions.state===2">
				<p>Error loading transactions: {{transactions.message}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>