<ion-view view-title="Your Transactions">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
		</ion-refresher>
		<ion-list>
			<ion-item ng-show="transactions.state===0">
				<p>Loading transactions...</p>
			</ion-item>
			<div ng-show="transactions.state===1">
				<ion-item ng-repeat="t in transactions.data" class="item-thumbnail-left" >
					<img ng-show="t.offer.thumb!=='nothumb'" src="{{t.offer.thumb}}"/>
					<h2>{{t.offer.title}}</h2>
					<p>from <b>{{t.from.name}}</b> to <b>{{t.to.name}}</b></p>
					<p>Finished {{moment(t.ended, "YYYYMMDD").fromNow()}}, lasted {{getDuration(t)}}</p>
				</ion-item>
				<ion-item ng-show="transactions.data.length===0">
					<h3>
						You haven't finished a transaction yet.
					</h3>
				</ion-item>
				<ion-item>
					<p>
						Tip: You get points for being nice.
					</p>
				</ion-item>
			</div>
			<ion-item ng-show="transactions.state===2">
				<p>Error loading transactions: {{transactions.message}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>