<ion-view view-title="Your Offers">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
		</ion-refresher>
		<ion-list>
			<ion-item ng-show="offers.state===0">
				<p>Loading offers...</p>
			</ion-item>
			<div ng-show="offers.state===1">
				<ion-item ng-repeat="t in offers.data" class="item-thumbnail-left item-icon-right" ui-sref="app.offer({id:'{{t._id}}'})">
					<img ng-show="t.thumb!=='nothumb'" src="{{t.thumb}}"/>
					<h2>{{t.author}}</h2>
					<p>{{t.title}}</p>
					<div class="button-bar" ng-show="t.state===0">
						<a class="button button-small button-stable" ng-click="transaction(1, {{t}})">Lend</a>
						<a class="button button-small button-stable" ng-click="transaction(2, {{t}})">Donate</a>
					</div>
					<div ng-show="t.state===1">
						<p><b>Borrowed</b></p>
					</div>
					<div ng-show="t.state===2">
						<p><b>Donated</b></p>
					</div>
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
				<ion-item ng-show="offers.data.length===0">
					<h3>
						You haven't posted anything yet!
					</h3>
					<button class="button button-block button-positive" ui-sref="app.addoffer">
						Do it now!
					</button>
				</ion-item>
			</div>
			<ion-item ng-show="offers.state===2">
				<p>Error loading offers: {{offers.message}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>